{% block content %}
    <div class="card mb-4 shadow">
        <div class="card-body">
            <p>{{ review.rating}}</p>
            <p>{{ review.comment }}</p>
            <div class="d-flex justify-content-between">
                <small>author: {{ review.username }}</small>
                {% if review.author == userId %}
                    <form action="/reviews/delete/{{cocktail.id}}/{{review.id}}?_method=DELETE" method="POST">
                        <input class="btn btn-danger" type="submit" value="X">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}