{% block content %}
    <div class="mb-4">
        <div class="review-card card-body text-left">
            <p class="review-content">Rating: {{ review.rating}}</p>
            <p class="review-content">Review: {{ review.comment }}</p>
            <div class="d-flex justify-content-between">
                <p class="review-content">User: {{ review.author.username }}</p>
                {% if review.author == userId %}
                    <form action="/reviews/delete/{{cocktail.id}}/{{review.id}}?_method=DELETE" method="POST">
                        <input class="btn review-delete-btn" type="submit" value="Delete Review">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}