{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/cocktails" method="POST">
        <fieldset>
            <legend>Create New Example</legend>
            <label class="form-label">Cocktail: </label>
            <input 
                type="text" 
                name="name" 
                placeholder="{{ cocktail.name }}"
                value="{{ cocktail.name }}"
                class="form-control"
            >
            <label class="form-label">Spirit:</label>
            <input 
                type="text" 
                name="spirit" 
                placeholder="{{ cocktail.spirit }}" 
                value="{{ cocktail.spirit }}" 
                class="form-control"
            >
            <label class="form-label">Ingrediets:</label>
            <input 
                type="text" 
                name="ingredients"
                value="{{ cocktail.ingredients }}"
                class="form-control"
            >
            <label class="form-label">Recipe:</label>
            <input 
                type="text" 
                name="recipe" 
                value="{{ cocktail.recipe }}"
                class="form-control"
            >
        </fieldset>
        <input type="submit" value="Edit Example" class="btn btn-success">
    </form>
</div>
{% endblock %}