{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm form-container">
    <form class="form-group" action="/cocktails/{{cocktail.id}}?_method=PUT" method="POST">
        <fieldset>
            <legend class="form-title">Edit Cocktail</legend>
            <label class="form-label">Cocktail: </label>
            <input 
                type="text" 
                name="name" 
                value="{{ cocktail.name}}"
                class="form-control new-input"
            >
            <label class="form-label">Spirit:</label>
            <input 
                type="text" 
                name="spirit" 
                value="{{ cocktail.spirit}}" 
                class="form-control new-input"
            >
            <label class="form-label">Image:</label>
            <input 
                type="text" 
                name="image" 
                value="{{ cocktail.image }}" 
                class="form-control new-input"
            >
            <label class="form-label">Ingredients:</label>
            <input 
                id="ingredients"
                type="text" 
                name="ingredients" 
                class="form-control new-input"
                value="{{ cocktail.ingridients}}"
            >
            <label class="form-label">Recipe:</label>
            <input 
                type="text" 
                name="recipe" 
                class="form-control new-input recipe-input"
                value="{{ cocktail.recipe }}"
            >
        </fieldset>
        <div class="text-center">
            <input type="submit" value="Edit Example" class="btn new-edit-btn justify-content-center">
        </div>
    </form>
</div>
{% endblock %}