{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">{{cocktail.spirit}} Cocktails</h2>
    <div class="row">
        {% for cocktail in cocktails %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ cocktail.name }}</h5>
            <div class="card-body">
                </h5>
                <p class="card-text">
                Spirit: {{ cocktail.spirit }}
                </p>
                <p class="card-text">
                    Ingredients:
                    <ul>
                        {% for ingredient in cocktail.ingredients %}
                        <li>{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                </p>
                <p class="card-text">
                    Recipe: {{ cocktail.recipe }}
                </p>
                <a href="/cocktails/{{ cocktail.id }}" class="btn btn-info">
                    View {{ cocktail.name }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}