{% layout 'layout.liquid'%}
{% block content %}
<div class="text-center">
    <h2 class="display-6 mt-4 cocktail-title">{{cocktail.spirit}}Cocktails</h2>
    <div class="row justify-content-center">
        {% for cocktail in cocktails %}
        <div class="card index-card text-center m-4" style="width: 18rem;">
            <h5 class="card-text index-title">{{ cocktail.name }}</h5>
            <div class="card-body">
                {% if cocktail.image.length > 0 %}
                    <div class="cocktail-img-container">
                        <img class="cocktail-img m-3" src="{{ cocktail.image }}" alt="image of a {{cocktail.name}}">
                    </div>
                {% else %}
                    <img class="cocktail-img" src="{{ cocktail.image }}" style="display:none">
                {% endif %}
                <br>
                <a href="/cocktails/{{ cocktail.id }}" class="btn view-btn">
                    View {{ cocktail.name }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}