{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <article>
        <h2>
            {{ cocktail.name }}
        </h2>
        <h3>Spirit: {{ cocktail.spirit }}</h3>
        <h6>Ingredients:</h6>
            <ul>
                {% for ingredient in cocktail.ingredients %}
                <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        <h6>Recipe: {{ cocktail. recipe }}</h6>

        {% if cocktail.owner == userId %}
        <div class="btn-group">
            <a href="/cocktails/{{ cocktail.id }}/edit" class="btn btn-primary">Edit</a>
            <form action="/cocktails/{{ cocktails.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
        {% endif %}
    </article>
</div>
{% endblock %}