{% layout 'layout.liquid' %}
{% block content %}
<container class="show-page">
    <div class="d-flex justify-content-center">
        <container class="show-card mt-5 col d-flex justify-content-center">
            <div class="show-img-container">
                <img class="show-img" src="{{ cocktail.image}}" alt="picture of {{ cocktail.name}}">
            </div>
            <div class="info-container">
                <h1 class="show-title">{{ cocktail.name }}</h1>
                <h2 class="ingredients">Ingredients:</h2>
                    <ul>
                        {% for ingredient in cocktail.ingredients %}
                            <li>{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                <h2>Recipe:</h2>
                <p>{{ cocktail.recipe }}</p>
                <contianer class="show-btn-container d-flex justify-content-end align-items-end">
                        {% if cocktail.owner == userId and username.length > 0%}
                            <div class="btn-toolbar">
                                <a href="/cocktails/{{ cocktail.id }}/edit" class="btn show-btn">Edit</a>
                                <form action="/cocktails/{{ cocktail.id }}?_method=DELETE" method="POST">
                                    <input type="submit" value="Delete" class="btn show-btn">
                                </form>
                            </div>
                        {% endif %}
                </contianer>
            </div>
        </container>
    </div>
<container class="review-container">
    {% if username.length > 0 %}
        <div class="d-flex justify-content-center">
            <a href="/cocktails/{{ cocktail.id }}/review" class="btn review-btn show-btn">Leave a Review</a>
        </div>
    {% else %}
        <div class="text-center review-notice-container">
            <p class="review-notice">Log in to leave a review!<p></p>
        </div>
    {% endif %}
    <div>
        {% if cocktail.reviews.length > 0%}
            <div class="">
                <div class="review-card-show row d-flex justify-content-center text-left" style="width: 500px;">
                    {% for review in cocktail.reviews %}
                        {% render '../review.liquid', review: review, userId: userId, cocktail: cocktail %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="text-center">
                <small class="no-reviews">Sorry, no reviews yet...</small>
            </div>
        {% endif %}
    </div> 
</container>
{% endblock %}