{% layout 'layout.liquid' %}
{% block content %}
<container class="show-page">
    <div class="d-flex justify-content-center">
        <container class="show-card mt-5 col d-flex justify-content-center">
            <div class="show-img-container">
                <img class="show-img" src="{{ cocktail.image}}" alt="picture of {{ cocktail.name}}">
            </div>
            <div class="info-container">
                <h1 class="show-title">{{ cocktail.name }}</h1>
                <h2 class="ingredients">Ingredients:</h2>
                    <ul>
                        {% for ingredient in cocktail.ingredients %}
                            <li>{{ ingredient }}</li>
                        {% endfor %}
                    </ul>
                <h2>Recipe:</h2>
                <p>{{ cocktail.recipe }}</p>
                <contianer class="show-btn-container">
                        {% if cocktail.owner == userId %}
                            <div class="btn-toolbar">
                                <a href="/cocktails/{{ cocktail.id }}/edit" class="btn show-btn">Edit</a>
                                <form action="/cocktails/{{ cocktail.id }}?_method=DELETE" method="POST">
                                    <input type="submit" value="Delete" class="btn show-btn">
                                </form>
                            </div>
                        {% endif %}
                </contianer>
            </div>
        </container>
    </div>
    <div class="d-flex flex-column">
        <a href="/cocktails/{{ cocktail.id }}/review" class="btn review-btn show-btn d-flex">Leave a Review</a>
    </div>
    <div>
        {% if cocktail.reviews.length > 0%}
            <div class="container-sm justify-content-center">
                <div class="col-md-8 col-lg-6">
                    {% for review in cocktail.reviews %}
                        {% render '../review.liquid', review: review, userId: userId, cocktail: cocktail %}
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <small>No reviews yet...</small>
        {% endif %}
    </div> 
</container>
{% endblock %}